article {
  display: flex;
  background: blue;
  height: 450px;
}

.nav-bar {
  flex: 0 0 20%;
  display: flex;
  > div {
    padding-left: 48px;
    margin-top: auto;
    margin-bottom: auto;
    > div {
      background: grey;
      padding: 10px;
    }
  }
}

.second {
  background: orange;
  flex: 1 0 60%;
  > div {
  }
}

.third {
  flex: 0 0 20%;
}
